<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for("static", filename="css/style.css") }}>
    <title>Formulario login</title>
</head>

<body>
    <header class="datosUsuario">
        <div class="imagePerfil">
            <img class="fotoPerfil" src="static/img/fotoPerfil.png" alt="fotoPerfil">
        </div>
        <div class="datosPerfil">
            <p>
                Nombre: Andrea Aranda Gaviria <br>
                Tipo documento: Cedula <br>
                Número documento: 1010098963 <br>
                Celular: 3205518561 <br>
                Rol: Aprediz
            </p>
        </div>
    </header>
    <section class="datosEquipo">
        <div class="tabla">
            <table>
                <tr>
                    <th>Primer Equipo</th>
                    <th>Segundo Equipo</th>
                    <th>Tercer Equipo</th>
                </tr>
                <tr>
                    <td>
                        <img class="fotoEquipo" src="static/img/fotoPerfil.png" alt="fotoEquipo">
                        <p>
                            Serial <br>
                            Marca <br>
                            Modelo
                        </p>
                        <input class="detalles" type="text" placeholder="Detalles">
                        
                    </td>
                    <td>
                        <img class="fotoEquipo" src="static/img/fotoPerfil.png" alt="fotoEquipo">
                        <p>
                            Serial <br>
                            Marca <br>
                            Modelo
                        </p>
                        <input class="detalles" type="text" placeholder="Detalles">
                        
                    </td>
                    <td>
                        <img class="fotoEquipo" src="static/img/fotoPerfil.png" alt="fotoEquipo">
                        <p>
                            Serial <br>
                            Marca <br>
                            Modelo
                        </p>
                        <input class="detalles" type="text" placeholder="Detalles">
                    </td>
                </tr>

            </table>
        </div>
        <div class="buttons">
            <input class="detalles" type="text" placeholder="Nota">
            <p>8:40 am 9 Marzo 2022</p>
            <input class="btn" type="button" value="Ingresar">
            <input class="btn" type="button" value="Salir">
            <input class="btn" type="button" value="Cancelar">
        </div>
    </section>
</body>

</html>