body {
    background-image: url('https://www.xtrafondos.com/descargar.php?id=2802&resolucion=2560x1600');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
  }
  
  main{
    margin : 1rem auto;

  }
  
  header {
    padding: 1rem;
  }

  .columna1{
    margin: 2px;
    background: -webkit-linear-gradient(to right,orangered ,black ); 
    background: linear-gradient(to right, orangered ,black);
  }
  
  .columna2{
    margin: 2px;
    background: -webkit-linear-gradient(to right,orangered ,black ); 
    background: linear-gradient(to right, orangered ,black);
  }

  
  .titulo{
    text-align: center;  
    margin: 2px;
  }

  .reloj{
      color: aliceblue;
  }
  
  p{
    text-align: center;
  }
  
  h5{
    padding: 1rem;
    color: orangered;
    text-align: center;
    justify-content: center;
  }

  h2{
    padding: 1rem;
    color: aliceblue;
    text-align: center;
    justify-content: center;
  }
  
  .vigilante img{
    height: 300px;
    align-items: center;
      }
  
      .equipo img{
        height: 300px;
          }
  
      .sena img{
        height: 150px;
          }
  
  