<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for("static", filename="css/style.css") }}>
    <title>Formulario login</title>
</head>
<body>
    <section class="form-login">
        <h5>Formulario Registro</h5>
        <input class="controls" type="text" name="User" placeholder="User">
        <input class="controls" type="password" name="Password" placeholder="Password">
        <input class="buttons" type="submit" value="Ingresar">
        <p><a href="#">Regitrarse.</a></p>
    </section>

</body>
</html>