main{
    max-width: 100% !important;
    overflow-x: hidden !important;
    text-align: center;
    background-color: black;
    justify-content: center;
}

  .columna{
    margin: 1rem;
    background: -webkit-linear-gradient(to right,orangered ,black ); 
    background: linear-gradient(to right, orangered ,black);
  }

  .navbar{
    padding: 1rem;
    background: -webkit-linear-gradient(to right,orangered ,black ); 
    background: linear-gradient(to right, orangered ,black);
  }

.img{
    width: 50%;
}

.logo{
    width: 30%;
}